h1{
    color: gray;
    background-color:lightgray;
}

.headingArea{
height: 80vh;
width: 50vw;
background-color: green;
border: 2px dotted red;
margin: 200px 250px 200px 250px ;
}
.title{
    background-color: azure;
color: red;
font-size: 50px;
text-align: center;
text-transform:none;
text-decoration: underline;
letter-spacing: 2px;
text-shadow: 2px 2px red;
font-style:italic;
font-family: Verdana, Geneva, Tahoma, 
sans-serif;
margin: 75px;
padding: 50px;
/*border: 5px dotted red;*/
border-style: double;
}

/*what value we can used
1.pixel=px
2.points=pt
3.vw=vertical width
4.vh=vertical height
5.%=percent */


ul{

    list-style: circle;
    list-style-type: disc;
}







.color{
    color: aqua;
}
table {
border: 2px solid black;
border-style: dashed;

}
body{

 
background-image: linear-gradient(rgba(107, 72, 72, 0.587)
,rgba(88, 49, 49, 0.626)),url("../IMG_20230219_071942_022.jpg");
    background-size:contain;
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
}