h1{
    color: gray;
    background-color:antiquewhite ;
}
.color{
    color: aqua;
}
table {
border: 2px solid black;
border-style: dashed;

}
body{

 
background-image: linear-gradient(rgba(107, 72, 72, 0.587)
,rgba(88, 49, 49, 0.626)),url("../IMG_20230219_071942_022.jpg");
    background-size:contain;
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
}